@model IEnumerable<ConquestionGame.Presentation.WebClient.ConquestionServiceReference.QuestionSet>

@{
    ViewBag.Title = "ChooseQS";
}

<h2>ChooseQS</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.ActionLink("Add question set", "AddQuestionSetToGame", new { title=item.Title }) 
        </td>
    </tr>
}

</table>
