@model List<ConquestionGame.Presentation.WebClient.ConquestionServiceReference.Game>

@{
    ViewBag.Title = "JoinGame";
}

<h2>Join Game</h2>

<div>
    <p>@Html.ActionLink("Create Game", "CreateGame", "Home")</p>
    @if (!Model.Any())
    {
        <p> There are no active games found! </p>
    }
    <table>
        <tr>
            <th>
                List of Active Games
            </th>
        </tr>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>

                </tr>
            }
        }
    </table>
    @*<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>*@
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")*@
</p>
