@model IEnumerable<ConquestionGame.Presentation.WebClient.ConquestionServiceReference.Player>

@{
    ViewBag.Title = "DisplayLobby";
}

<h2 id="ChangeMe">Welcome to the Lobby</h2>
<h2>@ViewBag.GameName</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        
    </tr>
}

</table>

<div>
    <p>Question Set Description: @ViewBag.QSDescription</p>
    <p>Question Set Title: @ViewBag.QSName</p>
</div>


@if (@ViewBag.IsHost == true)
{
    @Html.ActionLink("Start Game", "StartQuiz", "Quiz", new { area = "" }, new { @class = "btn btn-primary" })
}

@if (@ViewBag.IsHost == false)
{
    <p>You can't start the game because you are not the game host. Sorry.</p>
}


